:root {
  --color-primary: #358ed7;
  --color-secondary: #34495e;
  --color-light: #f8f4f4;
  --color-red: #f54b5e;
  --color-green: #48d2a0;
  --color-yellow: #f8c61c;
  --color-white: #fff;
  --color-labels: #858585;
  --color-light-grey: #adafb2;
  --color-grey: #79878e;
  --opacity-disabled: 0.5;
  --font-size-h1: 64px;
  --font-size-h2: 48px;
  --font-size-h3: 40px;
  --font-size-h4: 36px;
  --font-size-h5: 24px;
  --font-size-other: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.root {
  width: 100%;
}

.wrapper {
  padding: 1vh 1vw;
}

.input {
  border-radius: 3px;
  border: solid 1px #ddd;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  color: var(--color-secondary);
  display: inline-block;
  width: 100%;
}

.button {
  border-radius: 3px;
  color: var(--color-white);
  border: none;
  font-size: 13px;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;

  &_width100 {
    width: 100%;
    height: 50px;
    cursor: pointer;
  }
}

@import "../header/header.scss";
@import "../navMenu/navMenu.scss";
@import "../home/home.scss";
@import "../addFoodWrapper/addFoodWrapper.scss";
@import "../table/table.scss";
@import "../table/button/button.scss";
@import "../foodWrapper/foodWrapper.scss";
@import "../foodWrapper/searchFood/searchFood.scss";
@import "../foodWrapper/buttonAddFood/buttonAddFood.scss";
@import "../notificiantBanners/notificiantBanners.scss";
